# 1.	Write a Python program to find sum of elements in list?

In [1]:
list=[1,2,3,44,5,66,2]

##First method

In [2]:
a=0
for i in list:
    a=a+i

print("sum of the list is --->",a)

sum of the list is ---> 123

##Second method

In [3]:
sum(list)

123

# 2.	Write a Python program to  Multiply all numbers in the list?

In [4]:
list

[1, 2, 3, 44, 5, 66, 2]

In [5]:
mul=1
for i in list:
    mul=mul*i

print("multiplication of list is-->",mul)

multiplication of list is--> 174240

# 3.	Write a Python program to find smallest number in a list?

In [6]:
list

[1, 2, 3, 44, 5, 66, 2]

In [7]:
list.sort()

In [8]:
print("Smallest number insude the list is ---->",list[0])

Smallest number insude the list is ----> 1

# 4.	Write a Python program to find largest number in a list?

In [9]:
list=[1, 2, 3, 44, 5, 66, 2]

In [10]:
list.sort()

In [11]:
print("Max number inside the list is--->",list[len(list)-1])

Max number inside the list is---> 66

# 5.	Write a Python program to find second largest number in a list?

In [12]:
list=[1, 2, 3, 44, 5, 66, 2]

In [13]:
list.sort()

In [14]:
print("Second largest number inside the list is--->",list[len(list)-2])

Second largest number inside the list is---> 44

# 6.	Write a Python program to find N largest elements from a list?

In [15]:
def n_large(list,n):
    """
    list=Input list
    n=Nth highest number  
    """
    list.sort()
    list.reverse()
    print("First ",n," largest element of the list are")
    for i in range(0,n):
        print(list[i])

In [16]:
n_large([55,44,66,22,333,15,4,2,3,4,56,53222,45452],3)

First  3  largest element of the list are
53222
45452
333

# 7.	Write a Python program to print even numbers in a list?

In [29]:
# Python3 code to demonstrate
# to generate random number list
# using list comprehension + randrange()
import random

# using list comprehension + randrange()
# to generate random number list
res = [random.randrange(1, 50, 1) for i in range(7)]

# printing result
print ("Random number list is : " + str(res))

Random number list is : [47, 3, 14, 23, 26, 41, 9]

In [30]:
print("Even Number inside list res are-->")
for i in res:
    if i%2==0:
        print(i)

Even Number inside list res are-->
14
26

# 8.	Write a Python program to print odd numbers in a List?

In [19]:
res = [random.randrange(1, 50, 1) for i in range(10)]

# printing result
print ("Random number list is : " + str(res))

Random number list is : [46, 45, 12, 8, 30, 34, 11, 45, 16, 12]

In [20]:
print("Odd Number inside list res are-->")
for i in res:
    if i%2!=0:
        print(i)

Odd Number inside list res are-->
45
11
45

# 9.	Write a Python program to Remove empty List from List?

In [21]:
#this list consist empty list
list=[1,22,33,[],[12,2,3],44,5,6,(5,2,3),[]]

In [22]:
for i in range(0,len(list)-1):
    if list[i]==[]:
        list.pop(i)

In [23]:
print("this list does not contain empty list")
list

this list does not contain empty list

[1, 22, 33, [12, 2, 3], 44, 5, 6, (5, 2, 3)]

# 10.	Write a Python program to Cloning or Copying a list?

In [24]:
list_original= [random.randrange(1,100) for i in range(20)]
print ("Random number list is : " + str(list_original))

Random number list is : [74, 48, 74, 12, 78, 62, 84, 73, 68, 71, 9, 70, 36, 27, 98, 44, 32, 86, 85, 25]

In [25]:
list_clone=[]
for i in range(0,len(list_original)):
    list_clone.insert(i,list_original[i])

In [26]:
print("Clone list is -->\n",list_clone)

Clone list is -->
 [74, 48, 74, 12, 78, 62, 84, 73, 68, 71, 9, 70, 36, 27, 98, 44, 32, 86, 85, 25]

# 11.	Write a Python program to Count occurrences of an element in a list?

In [27]:
list=[11,22,22,11,44,11,456,225,522]

In [28]:
print("occurrences of 11 inside list is-->")
list.count(11)

occurrences of 11 inside list is-->

3