Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(a):
    res = [int(x) for x in str(a)]
    while res==res[::-1]:
        return True
        break 
    while res!=res[::-1]:
        return False
        break

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [7]:
def multiply_nums(a):
    lst=list(a.split(","))    
    mul=1
    for i in lst:
        mul=mul*int(i)
    return mul

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [12]:
def square_digits(a):
    res = [int(x) for x in str(a)]
    res_update=[]
    for i in res:
        res_update.append(i**2)
    strings = [str(integer) for integer in res_update]
    a_string = "". join(strings)
    an_integer = int(a_string)
    print(an_integer)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [16]:
def setify(lst):
    lst.sort()
    s=set(lst)
    l=[]
    for i in s:
        l.append(i)
    return l

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [21]:
def mean(a):
    res = [int(x) for x in str(a)]
    b=len(res)
    sum=0
    for i in res:
        sum=sum+i
    return round(sum/b)

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6